In [1]:
import os
import pandas as pd

In [2]:
file = os.path.join(os.getcwd(), 'ecommerce-session-bigquery.csv')

In [3]:
df = pd.read_csv(file)
df.head()

,fullVisitorId,channelGrouping,time,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,...,itemQuantity,itemRevenue,transactionRevenue,transactionId,pageTitle,searchKeyword,pagePathLevel1,eCommerceAction_type,eCommerceAction_step,eCommerceAction_option
0,2515546493837534633,Organic Search,966564,Taiwan,(not set),NaN,NaN,1567.0,82.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
1,9361741997835388618,Organic Search,157377,France,not available in demo dataset,NaN,NaN,321.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
2,7313828956068851679,Referral,228279,United States,San Francisco,NaN,NaN,927.0,11.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
3,6036794406403793540,Organic Search,1615618,United States,Boulder,NaN,NaN,1616.0,13.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
4,7847280609739507227,Organic Search,37832,Canada,not available in demo dataset,NaN,NaN,1222.0,45.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fullVisitorId            10000 non-null  uint64
 1   channelGrouping          10000 non-null  object
 2   time                     10000 non-null  int64
 3   country                  10000 non-null  object
 4   city                     10000 non-null  object
 5   totalTransactionRevenue  619 non-null    float64
 6   transactions             628 non-null    float64
 7   timeOnSite               9713 non-null   float64
 8   pageviews                9999 non-null   float64
 9   sessionQualityDim        19 non-null     float64
 10  date                     10000 non-null  int64
 11  visitId                  10000 non-null  int64
 12  type                     10000 non-null  object
 13  productRefundAmount      0 non-null      float64
 14  productQuantity          45 non-null     float64
 15  productPrice             10000 non-null  int64
 16  productRevenue           0 non-null      float64
 17  productSKU               10000 non-null  object
 18  v2ProductName            10000 non-null  object
 19  v2ProductCategory        10000 non-null  object
 20  productVariant           10000 non-null  object
 21  currencyCode             9614 non-null   object
 22  itemQuantity             0 non-null      float64
 23  itemRevenue              0 non-null      float64
 24  transactionRevenue       0 non-null      float64
 25  transactionId            0 non-null      float64
 26  pageTitle                9908 non-null   object
 27  searchKeyword            0 non-null      float64
 28  pagePathLevel1           10000 non-null  object
 29  eCommerceAction_type     10000 non-null  int64
 30  eCommerceAction_step     10000 non-null  int64
 31  eCommerceAction_option   0 non-null      float64
dtypes: float64(14), int64(6), object(11), uint64(1)
memory usage: 2.4+ MB

In [14]:
df['city'].unique()

array(['(not set)', 'not available in demo dataset', 'San Francisco',
       'Boulder', 'Ann Arbor', 'Mountain View', 'Los Angeles', 'Houston',
       'Palo Alto', 'Paris', 'Chicago', 'New York', 'Zurich', 'Sunnyvale',
       'Atlanta', 'Washington', 'Kiev', 'Seattle', 'Toronto', 'Hong Kong',
       'Bangkok', 'Austin', 'Goose Creek', 'Ho Chi Minh City',
       'Santa Clara', 'Kirkland', 'Cambridge', 'Sao Paulo', 'Sydney',
       'San Jose', 'London', 'Brno', 'Warsaw', 'Barcelona', 'Dublin',
       'Manila', 'Mexico City', 'Wheaton', 'Hyderabad', 'Gurgaon',
       'Oviedo', 'Dallas', 'Montreal', 'Ashburn', 'San Diego',
       'Minneapolis', 'Salem', 'Rio de Janeiro', 'Mumbai', 'Stockholm',
       'Colombo', 'Phoenix', 'Quebec City', 'Karachi', 'Madrid',
       'Pittsburgh', 'Bengaluru', 'Alexandria', 'Ankara', 'Melbourne',
       'Bogota', 'Bordeaux', 'La Victoria', 'Cupertino', 'Seoul',
       'San Carlos', 'Abu Dhabi', 'Boston', 'Singapore', 'Rome', 'Bursa',
       'Hanoi', 'Pozuelo de Alarcon', 'Amsterdam', 'Minato', 'New Delhi',
       'Fremont', 'Jakarta', 'Oslo', 'Brisbane', 'Krakow', 'Santiago',
       'South San Francisco', 'Odense', 'Las Vegas',
       'Piscataway Township', 'Shibuya', 'Orlando', 'Chico', 'San Bruno',
       'Vienna', 'Moscow', 'Edison', 'Cape Town', 'Prague', 'Columbia',
       'Irvine', 'Milan', 'Athens', 'Kuala Lumpur', 'Roskilde', 'Munich',
       'Charlotte', 'Maracaibo', 'Belgrade', 'Tel Aviv-Yafo', 'Dubai',
       'Bucharest', 'Pune', 'Buenos Aires', 'Talence', 'Chennai',
       'Oakland', 'Council Bluffs', 'Hamburg', 'Osaka', 'Cincinnati',
       'Medellin', 'Ahmedabad', 'Mankato', 'Portland', 'Kolkata',
       'Kharkiv', 'Saint Petersburg', 'Monterrey', 'Smyrna', 'Columbus',
       'Istanbul', 'Tempe', 'Quezon City', 'Mississauga', 'Vladivostok',
       'El Paso', 'Auckland', 'Nice', 'Normandy', 'Zagreb', 'Lagos',
       'Milpitas', 'Yokohama', 'Makati', 'Riyadh', 'Hamden', 'Denver',
       'Kuwait City', 'Timisoara', 'Izmir', 'Manchester', 'Vancouver',
       'Santiago de Surco', 'Frankfurt', 'Miami', 'San Antonio',
       'Kansas City', 'Nairobi', 'Berlin', 'Pleasanton', 'Cabimas',
       'Skopje', 'Curitiba', 'Fort Worth', 'Targu Mures', 'The Dalles',
       'Budapest', 'Stuttgart', 'Sapporo', 'AmÃ£', 'Druid Hills', 'Naples',
       'South El Monte', 'Alba Iulia'], dtype=object)

In [19]:
df['country'].nunique()

106

In [15]:
df['date'].nunique()

138

In [17]:
df[df['city'] == '(not set)'].shape

(269, 32)

In [18]:
df[df['city'] == 'not available in demo dataset'].shape

(4668, 32)

In [26]:
df['channelGrouping'].nunique()

8

In [27]:
df['channelGrouping'].unique()

array(['Organic Search', 'Referral', 'Direct', 'Social', 'Affiliates',
       'Display', '(Other)', 'Paid Search'], dtype=object)

In [25]:
df[df['sessionQualityDim'].notnull()].shape

(19, 32)

In [31]:
df['visitId'].nunique()

7213

In [32]:
df['v2ProductName'].nunique()

84

In [33]:
df['v2ProductName'].unique()

array(['Suitcase Organizer Cubes', '26 oz Double Wall Insulated Bottle',
       'Metal Texture Roller Pen', 'Maze Pen', 'Gunmetal Roller Ball Pen',
       'Google Tri-blend Hoodie Grey', 'Google Snapback Hat Black',
       'Waterproof Gear Bag', "Google Men's  Zip Hoodie",
       "Android Men's  Zip Hoodie", "Android Women's Fleece Hoodie",
       "Google Men's Pullover Hoodie Grey",
       "Google Women's Short Sleeve Badge Tee Red Heather",
       "Google Men's 100% Cotton Short Sleeve Hero Tee Black",
       "Google Men's 100% Cotton Short Sleeve Hero Tee Navy",
       "Google Men's 100% Cotton Short Sleeve Hero Tee White",
       "Google Men's Watershed Full Zip Hoodie Grey",
       "Google Men's Microfiber 1/4 Zip Pullover Blue/Indigo",
       "Google Men's Performance Full Zip Jacket Black",
       "Google Women's Yoga Jacket Black",
       "Google Women's Convertible Vest-Jacket Sea Foam Green",
       "Google Women's 1/4 Zip Jacket Charcoal",
       "Google Women's Performance Full Zip Jacket Black",
       "Google Women's Short Sleeve Hero Tee Black",
       "Google Women's Short Sleeve Hero Tee White",
       "Google Women's Lightweight Microfleece Jacket",
       'Google Toddler Short Sleeve T-shirt Yellow',
       'Google Pet Feeding Mat',
       'Google G Noise-reducing Bluetooth Headphones',
       'YouTube RFID Journal', 'Android RFID Journal',
       'Android Hard Cover Journal', 'Google Hard Cover Journal',
       'Google Leather Journal', 'Google Spiral Leather Journal',
       'NestÂ® Cam Outdoor Security Camera - USA',
       "Google Women's Short Sleeve Hero Tee Sky Blue",
       "YouTube Men's Short Sleeve Hero Tee Black",
       "Google Men's Vintage Tank", '25L Classic Rucksack',
       'Google Leather Perforated Journal', 'YouTube Luggage Tag',
       'Google Sunglasses', 'Yoga Mat', 'Google Collapsible Pet Bowl',
       'Collapsible Pet Bowl', '8 pc Android Sticker Sheet',
       'Android Sticker Sheet Ultra Removable', 'Windup Android',
       'Android Luggage Tag', 'Straw Beach Mat',
       'SPF-15 Slim & Slender Lip Balm', 'SPF-15 Lip Balm',
       'Fashion Sunglasses & Pouch', '1 oz Hand Sanitizer',
       'Softsided Travel Pouch Set', 'Seat Pack Organizer',
       'Bottle Opener Clip', 'Google Laptop and Cell Phone Stickers',
       'Compact Selfie Stick', 'Google Kick Ball', 'Kick Ball',
       'Foam Can and Bottle Cooler', 'Koozie Can Kooler',
       'Switch Tone Color Crayon Pen', 'Pop-a-Point Crayon',
       'YouTube Custom Decals', '7&quot; Dog Frisbee', '7" Dog Frisbee',
       'Crunch Noise Dog Toy', 'Crunch-It Dog Toy', 'Google Lunch Bag',
       'Electronics Accessory Pouch', 'Large Zipper Top Tote Bag',
       'Google Tote Bag', 'Speed Zone Air Mesh Tote',
       'Collapsible Shopping Bag', 'Latitudes Foldaway Shopper',
       'Google Canvas Tote Natural/Navy', 'Reusable Shopping Bag',
       'Chevron Shopper', 'Google Zipper-front Sports Bag',
       'Waterpoof Gear Bag', 'Sport Bag'], dtype=object)

In [34]:
df[df['pageviews'].isnull()]

,fullVisitorId,channelGrouping,time,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,...,itemQuantity,itemRevenue,transactionRevenue,transactionId,pageTitle,searchKeyword,pagePathLevel1,eCommerceAction_type,eCommerceAction_step,eCommerceAction_option
6233,5334401026917196767,Direct,12633,United Kingdom,not available in demo dataset,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,Bags,NaN,/google+redesign/,0,1,NaN

In [43]:
df[df['pageviews'].isnull()].iloc[:, 10:-2]

,date,visitId,type,productRefundAmount,productQuantity,productPrice,productRevenue,productSKU,v2ProductName,v2ProductCategory,productVariant,currencyCode,itemQuantity,itemRevenue,transactionRevenue,transactionId,pageTitle,searchKeyword,pagePathLevel1,eCommerceAction_type
6233,20160816,1471354236,EVENT,NaN,NaN,4990000,NaN,GGOEGBJC019999,Collapsible Shopping Bag,Home/Limited Supply/Bags/,(not set),USD,NaN,NaN,NaN,NaN,Bags,NaN,/google+redesign/,0

In [46]:
df[df['timeOnSite'].isnull()].to_csv(os.path.join(os.getcwd(), 'test.csv'))

In [48]:
df[df['time'] <= 0].to_csv(os.path.join(os.getcwd(), 'test_2.csv'))