## Load the libraries and the dataset

All the libraries needed are `pandas` and `os`. `pandas` also includes plotting library, so no need to import `matplotlib` library.

The dataset is in the same folder as the notebook and in the format of CSV. So, the dataset is loaded with `read_csv` method from `pandas` library.

In [14]:
import os
import pandas as pd

In [2]:
file = os.path.join(os.getcwd(), 'ecommerce-session-bigquery.csv')

In [3]:
df = pd.read_csv(file)
df.head()

,fullVisitorId,channelGrouping,time,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,...,itemQuantity,itemRevenue,transactionRevenue,transactionId,pageTitle,searchKeyword,pagePathLevel1,eCommerceAction_type,eCommerceAction_step,eCommerceAction_option
0,2515546493837534633,Organic Search,966564,Taiwan,(not set),NaN,NaN,1567.0,82.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
1,9361741997835388618,Organic Search,157377,France,not available in demo dataset,NaN,NaN,321.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
2,7313828956068851679,Referral,228279,United States,San Francisco,NaN,NaN,927.0,11.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
3,6036794406403793540,Organic Search,1615618,United States,Boulder,NaN,NaN,1616.0,13.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
4,7847280609739507227,Organic Search,37832,Canada,not available in demo dataset,NaN,NaN,1222.0,45.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fullVisitorId            10000 non-null  uint64
 1   channelGrouping          10000 non-null  object
 2   time                     10000 non-null  int64
 3   country                  10000 non-null  object
 4   city                     10000 non-null  object
 5   totalTransactionRevenue  619 non-null    float64
 6   transactions             628 non-null    float64
 7   timeOnSite               9713 non-null   float64
 8   pageviews                9999 non-null   float64
 9   sessionQualityDim        19 non-null     float64
 10  date                     10000 non-null  int64
 11  visitId                  10000 non-null  int64
 12  type                     10000 non-null  object
 13  productRefundAmount      0 non-null      float64
 14  productQuantity          45 non-null     float64
 15  productPrice             10000 non-null  int64
 16  productRevenue           0 non-null      float64
 17  productSKU               10000 non-null  object
 18  v2ProductName            10000 non-null  object
 19  v2ProductCategory        10000 non-null  object
 20  productVariant           10000 non-null  object
 21  currencyCode             9614 non-null   object
 22  itemQuantity             0 non-null      float64
 23  itemRevenue              0 non-null      float64
 24  transactionRevenue       0 non-null      float64
 25  transactionId            0 non-null      float64
 26  pageTitle                9908 non-null   object
 27  searchKeyword            0 non-null      float64
 28  pagePathLevel1           10000 non-null  object
 29  eCommerceAction_type     10000 non-null  int64
 30  eCommerceAction_step     10000 non-null  int64
 31  eCommerceAction_option   0 non-null      float64
dtypes: float64(14), int64(6), object(11), uint64(1)
memory usage: 2.4+ MB

In [5]:
dropped_col = [
    'time',
    'type',
    'productSKU',
    'v2ProductCategory',
    'productVariant',
    'itemQuantity',
    'itemRevenue',
    'transactionRevenue',
    'transactionId',
    'pageTitle',
    'searchKeyword',
    'pagePathLevel1',
    'eCommerceAction_type',
    'eCommerceAction_step',
    'eCommerceAction_option'
]

df = df.drop(columns=dropped_col)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fullVisitorId            10000 non-null  uint64
 1   channelGrouping          10000 non-null  object
 2   country                  10000 non-null  object
 3   city                     10000 non-null  object
 4   totalTransactionRevenue  619 non-null    float64
 5   transactions             628 non-null    float64
 6   timeOnSite               9713 non-null   float64
 7   pageviews                9999 non-null   float64
 8   sessionQualityDim        19 non-null     float64
 9   date                     10000 non-null  int64
 10  visitId                  10000 non-null  int64
 11  productRefundAmount      0 non-null      float64
 12  productQuantity          45 non-null     float64
 13  productPrice             10000 non-null  int64
 14  productRevenue           0 non-null      float64
 15  v2ProductName            10000 non-null  object
 16  currencyCode             9614 non-null   object
dtypes: float64(8), int64(3), object(5), uint64(1)
memory usage: 1.3+ MB

In [7]:
df[df['timeOnSite'].isnull()][['totalTransactionRevenue', 'transactions']].nunique()

totalTransactionRevenue    0
transactions               0
dtype: int64

In [8]:
df = df.dropna(subset=['timeOnSite']).reset_index(drop=True)

In [9]:
df[df['pageviews'].isnull()]

,fullVisitorId,channelGrouping,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,date,visitId,productRefundAmount,productQuantity,productPrice,productRevenue,v2ProductName,currencyCode
6042,5334401026917196767,Direct,United Kingdom,not available in demo dataset,NaN,NaN,13.0,NaN,NaN,20160816,1471354236,NaN,NaN,4990000,NaN,Collapsible Shopping Bag,USD

In [10]:
df = df.dropna(subset=['pageviews']).reset_index(drop=True)

In [11]:
df[(df['currencyCode'] != 'USD') & (df['country'] != 'United States') & (df['totalTransactionRevenue'].notnull())]

,fullVisitorId,channelGrouping,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,date,visitId,productRefundAmount,productQuantity,productPrice,productRevenue,v2ProductName,currencyCode
2132,8076486872734382011,Organic Search,Canada,not available in demo dataset,2.447870e+09,1.0,1772.0,115.0,NaN,20161002,1475427697,NaN,NaN,6990000,NaN,Google Pet Feeding Mat,NaN
7975,7344519175727343086,Organic Search,Venezuela,not available in demo dataset,5.051400e+08,3.0,5023.0,309.0,NaN,20160826,1472240181,NaN,NaN,19990000,NaN,Google Zipper-front Sports Bag,NaN

In [12]:
df = df[~((df['currencyCode'] != 'USD') & 
          (df['country'] != 'United States'))].reset_index(drop=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9604 entries, 0 to 9603
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fullVisitorId            9604 non-null   uint64
 1   channelGrouping          9604 non-null   object
 2   country                  9604 non-null   object
 3   city                     9604 non-null   object
 4   totalTransactionRevenue  617 non-null    float64
 5   transactions             626 non-null    float64
 6   timeOnSite               9604 non-null   float64
 7   pageviews                9604 non-null   float64
 8   sessionQualityDim        19 non-null     float64
 9   date                     9604 non-null   int64
 10  visitId                  9604 non-null   int64
 11  productRefundAmount      0 non-null      float64
 12  productQuantity          45 non-null     float64
 13  productPrice             9604 non-null   int64
 14  productRevenue           0 non-null      float64
 15  v2ProductName            9604 non-null   object
 16  currencyCode             9326 non-null   object
dtypes: float64(8), int64(3), object(5), uint64(1)
memory usage: 1.2+ MB